html{
    font-family:Arial, Helvetica, sans-serif;
}
/* reset: box */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* sfondo body */
body{
    background-color:lightgrey;
}
/* sfondo head */
header{
    background-color: white;
    width: 100%;
}
/* logo head */
.Logo-Toboolist{
    vertical-align: middle;
    font-size:50px;
}
/* text head */
.Text-Logo{
    vertical-align: middle;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: size 50px;
}

.Body-sito{
    width: 80%;
    margin: auto;
    background-color: white;
    margin-top: 1px;
    padding-left: 50px;
    padding: 10px;
}
/* button nav */
.button{
    width: 100px;
    padding: 7px;
    border-radius: 5px;
}
.first{
    margin-left: 50px;
    background-color: rgb(81, 156, 243);
    color: rgb(238, 235, 235);
    border: none;

}
.second{
    background-color: rgb(255, 255, 255);
    color: rgb(161, 154, 154);
    border-color: rgb(219, 230, 231);
    border-style: solid;
    border-width: 1px;

}
li{
    margin-bottom: 2%;
    list-style: none;
}
.Logo{
    border-radius: 100%;
    padding: 3px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 10px;
    vertical-align: middle;
    margin-right:7px;   
}
.C-logo{
    color:lightseagreen; ;
    border: 1px solid lightseagreen;
}
.C-logo1{
    color: rgb(231, 38, 38);
    border:1px solid rgb(231, 38, 38) ;
}
.Cella{
    padding: 5px;
    font-size:10px;
    border-radius: 9px;
    margin-left:2px ;
    color: rgb(255, 255, 255);
    
}
.c1{
    background-color: rgb(63, 171, 238);
}
.c2{
    background-color:rgb(211, 105, 238);
}
.c3{
    background-color:rgb(130, 233, 216);
}
.c4{
    background-color:#ecb373;
}
.c5{
    background-color:rgb(226, 132, 218);
}
.c6{
    background-color:rgb(85, 194, 85);
}
